#logo1 {
max-height: 100px;
margin-left: -10px
}

body {
text-align: center;
color: black;
background-color: rgb(243, 243, 238);
}
.nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
}
  
.navbar-nav {
display: flex;
justify-content: center;
width: 100%;
}
  
.log-link {
margin-right: auto;
 }

h2 {
font-size: 22px;
}

.nav-link {  
font-size: 20px;
margin: 5px ;
}

.intro-text {
font-size: 20px;
line-height: 40px;
}

h3 {
font-size: 22px;
}

#footer {
background-color: rgb(170, 149, 122);
font-size: 22px;
display: flex;
justify-content: center;
min-height: 50px;
padding: 20px;
}

.footer-link {
margin: 5px;
padding: 2px;
}

a {
text-decoration: none;
color: white;
}

#copyright {
margin: 4px;
padding: 6px;
font-size: 20px;
letter-spacing: 2px;
} 

